@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0xp;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*
* Menu
*/
nav {
  background-color: #F7F7F7;
  position: sticky;
  top: 0px;
  z-index: 100;
}

nav > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px; /* biar ada ruang kiri-kanan */
  font-family: "Poppins", sans-serif;
}

/* 
*Menu 
*/
.menu {
  flex: 1; /* biar ambil sisa ruang */
  display: flex;
  justify-content: center; /* menu rata tengah */
}

.menu > ul {
  list-style-type: none;
  display: flex;
  gap: 70px; /* jarak antar menu */
  margin: 0;
  padding: 0;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Logo */
.logo > img {
  width: 50px;
  height: auto;
}

/* User icon */
.user-icon > img {
  width: 25px;
  height: auto;
  cursor: pointer;
}


/*
*hero/jumbotron
*/
header {
    background: url('../images/bg_header.jpg');
    height: 90vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Poppins", sans-serif;
    letter-spacing: 5px;
}

.header-opacity {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
}

.home {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.home > h4 {
    color: #F7F7F7;
    font-size: 64px;
    margin: 0px 275px 0px 1px;
    padding: 0px;
    font-weight: 500;
    z-index: 1;
}
.home > h5 {
    color: #F7F7F7;
    font-size: 96px;
    margin: 0px;
    padding: 5px;
    line-height: 4rem;
    z-index: 1;
}

.home > p {
    position: relative;
    top: 0%;    /* geser vertikal */
    left: 30%;   /* geser horizontal */
    transform: translate(-17%, -83%);
    z-index: 0;  /* di belakang teks */
    margin: 0;
    padding: 0;
}


/*
* about
*/
.about {
  display: flex;
  height: 74vh;
  background: #F7F7F7 url('../images/background-about.png') center center / cover no-repeat;
}

/* Kiri */
.about .left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .left > img {
  object-fit: contain;
  width: 300px;
  height: auto;
}

/* Kanan */
.about .right {
  margin: auto;
  flex: 7;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.about .right p {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.about .right small {
  font-size: 32px;
  font-style: italic;
  display: block;
  margin-top: 5px;
}

.about .right i {
  font-size: 24px;
  display: block;
  margin-top: 15px;
  color: #444;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background-color: #C93684;
  padding: 10px 25px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #a52c6a;
}


/* 
* portfolio preview
*/
#portfolio-preview {
  background: linear-gradient(0deg, #E684D1 0%, #F7F7F7 50%);
  padding: 60px 0;
  min-height: 70vh;
  font-family: "Poppins", sans-serif;
}


#portfolio-preview > .wrapper > h4 {
    text-align: center;
    color: #000;
    font-size: 64px;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-items: center;
    margin-top: 40px;
}

.grid > .item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 300px;
    height: auto;
}

.grid > .item > img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.grid > .item > img:hover {
    transform: scale(1.05);
}

#portfolio-preview > .wrapper > .button-portofolio {
    text-align: center;
    margin-top: 40px;
}

#portfolio-preview > .wrapper > .button-portofolio > .btn-portofolio {
  text-decoration: none;
  color: #000;
  background-color: #FFBF7E;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease;
  text-align: center;
}

#portfolio-preview > .wrapper > .button-portofolio > .btn-portofolio:hover {
  background-color: #E07B39;     
}


/*
*Why Choose Us 
*/
#why-choose-us {
  background: url('../images/background-whychooseus.jpg') center center / cover no-repeat;
  height: auto;
  padding: 60px 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Overlay background */
#why-choose-us::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
}

#why-choose-us > .wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#why-choose-us h4 {
  font-size: 64px;
  font-weight: 700;
  color: #3A0DAE;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

#why-choose-us h4::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #FE8103;
  border-radius: 50%;
  left: -0px;
  top: -0px;
  z-index: -1;
  opacity: 0.2;
}

/* Grid box */
.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;                /* jarak antar box */
  max-width: 600px;         /* batasi lebar keseluruhan grid */
  margin: 0 auto;           /* biar tetap di tengah */
  text-align: center;
}


.benefits > .box {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  max-width: 280px;
}

.benefits .box:hover {
  transform: translateY(-5px);
}

.benefits > h5 {
  margin-bottom: 0px;
  font-size: 26px;
  color: #000;
}

.benefits > .box > h5 > i {
  color: #5A33BE;
  margin-right: 8px;
  font-size: 24px;
  vertical-align: middle;
}


/*
*team introduction
*/
#team-introduction {
    background: #F7F7F7 url('../images/background-introduction.png') center center / cover no-repeat;
    padding: auto;
    min-height: 70vh;
}

#team-introduction > .wrapper > h4 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 64px;
    margin: 0px;
    padding: 40px;
    text-decoration: underline;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  flex: 1;
  text-align: center;
}

.team-members > .member > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-members > .member > img:hover {
    transform: scale(1.05);
}

.team-members > .member > h5 {
    margin-top: 10px;
    font-size: 23px;
    color: #000;
}

/* 
*Footer 
*/
footer {
  background-color: #1A0550;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 80px;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left h3 {
  margin: 0;
  font-size: 40px;
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.footer-left h3 .footer-logo {
  margin-right: 20px; 
  width: 70px;
  height: auto;
}

.footer-left p {
  font-size: 24px;
  margin: 0;
  color: #F7F7F7;
  font-style: italic;
}

.footer-center {
  flex: 1;
  min-width: 200px;
  margin-left: 100px;
}

.footer-center h4 {
  margin-bottom: 5px;
  font-size: 32px;
  margin-top: 5px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center ul li {
  margin-bottom: 8px;
}

.footer-center ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.footer-center ul li a:hover {
  text-decoration: underline;
}

.footer-right {
  flex: 1;
  min-width: 200px;
  text-align: right;
}

.footer-right p {
  margin: 5px 0;
  font-size: 24px;
}

.footer-right p small {
  font-size: 20px;
  color: #ccc;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 12px;
  color: #ccc;
}

/*
*Hamburger Menu (untuk mobile)
*/
button.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

button.hamburger-menu i {
  color: #000;
}

button.hamburger-menu i.icon-close {
  display: none;
}



/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .tampil {
    display: inline;
  }

  .tampil ul{
    flex-direction: column;
    background-color: #F7F7F7;
    width: 100%;
    position: fixed;
    top: 77px;
    left: 0;
  }

  .tampil ul li {
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .home > h4 {
    font-size: 32px;
    margin: 0px 20px 0px 1px;
  }

  .home > h5 {
    font-size: 48px;
    line-height: 3rem;
  }

  .about {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .about .left, .about .right {
    flex: none;
    width: 100%;
  }

  .about .left {
    margin-bottom: 20px;
  }

  #why-choose-us > .wrapper {
    flex-direction: column;
    text-align: center;
  }

  #why-choose-us h4::before {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: -20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-center {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer-right {
    text-align: center;
    margin-top: 20px;
  }

  button.hamburger-menu {
    display: inline;
    position: center;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .menu > ul {
    gap: 30px; /* jarak menu lebih kecil */
  }

  .about {
    flex-direction: column;
    height: auto; /* biar nggak maksa tinggi */
    text-align: center;
  }

  .about .left img {
    width: 200px; /* lebih kecil biar muat */
    margin-bottom: 20px;
  }

  .about .right {
    padding: 20px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); /* portfolio 2 kolom */
  }

  #why-choose-us > .wrapper {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .benefits {
    grid-template-columns: 1fr; /* box jadi 1 kolom */
  }

  .team-members {
    grid-template-columns: repeat(2, 1fr); /* tim 2 kolom */
  }

  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-center {
    margin-left: 0;
    margin-top: 20px;
  }

  .footer-right {
    text-align: center;
    margin-top: 20px;
  }
}

/* HP */
@media (max-width: 576px) {
  .menu {
    display: none;
  }

  .tampil {
    display: inline;
  }

  .tampil ul{
    flex-direction: column;
    background-color: #F7F7F7;
    width: 100%;
    position: fixed;
    top: 77px;
    left: 0;
  }

  .tampil ul li {
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .home > h4 {
    font-size: 32px;
    margin: 0;
  }

  .home > h5 {
    font-size: 48px;
    line-height: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr; /* portfolio 1 kolom */
  }

  .team-members {
    grid-template-columns: 1fr; /* tim 1 kolom */
  }

  .about .right p {
    font-size: 32px;
  }

  .about .right small {
    font-size: 20px;
  }

  .about .right i {
    font-size: 16px;
  }

  .footer-left h3 {
    font-size: 28px;
  }

  .footer-left p,
  .footer-center ul li a,
  .footer-right p {
    font-size: 16px;
  }

  button.hamburger-menu {
    display: inline;
    position: center;
  }
}

/*
* Pricing Page
*/

/*
Header / Jumbotron Halaman Pricing (Versi Baru)
*/
.pricing-header-bg {
    font-family: "Poppins", sans-serif;
    background-image: url('../images/bg-header-pricing.jpg'); 
    background-size: cover;
    background-position: center;
    height: 51vh;
    /* opacity: 0.7; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    /* opacity: 0.7; */
}

/* Styling untuk judul "Pricing Plans" */
.pricing-header-bg h1 {
    font-size: 96px;
    font-weight: 800;
    color: #38109F;
    -webkit-text-stroke: 3px #FFF;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    letter-spacing: normal;
}

/* Styling untuk sub-judul "Choose the style..." */
.pricing-header-bg p {
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: #5A33BE;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 100px 0px 10px;
    border-radius: 0px;
    margin-top: 15px;
    letter-spacing: normal;
    z-index: 0;
}

.paintbrush {
    width: 200px;
    height: 300px;
    z-index: 1;
}

/*
Styling Bagian Kartu Harga (Lengkap dengan Grid Layout)
*/

#pricing-cards {
    padding: 60px 20px;
    font-family: "Poppins", sans-serif;
    background: url("../images/bg-pricing-card.png");
    /* height: 87vh; */
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styling untuk satu kartu */
.pricing-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    transition: all 0.3s ease;
    border: 3px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    border-color: #5A33BE;
}

.pricing-card img {
    width: 100%;
    height: 80%;
    position: center;
    object-fit: cover;
}

/* Wrapper untuk semua konten di bawah gambar */
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

/* Container untuk Judul dan Harga */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.pricing-card h3 {
    font-size: 28px;
    margin: 0;
    color: #000;
    font-weight: 800;
}

.pricing-card .price {
    font-size: 28px;
    font-weight: 800;
    color: #000;
    margin: 0;
}

.pricing-card .description {
    font-size: 16px;
    color: #000;
    margin: 10px 0 20px 0;
}

.btn-order {
    display: block;
    background-color: #C93684;
    color: #fff;
    padding: 12px 0px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.btn-order:hover {
    background-color: #a52c6a;
}

/* Penyesuaian Responsive agar tidak berantakan di layar kecil */
@media (max-width: 992px) {
    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .pricing-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .pricing-grid {
        grid-template-columns: 1fr;
    }
    
    .pricing-header-bg h1 {
        font-size: 48px;
    }

    .pricing-header-bg p {
        font-size: 20px;
    }
}



/*
* =================================
* Portfolio Page (Versi Perbaikan Final)
* =================================
*/

.portfolio-header-bg {
    font-family: "Poppins", sans-serif;
    background-image: url('../images/portofolio_sketch/bg_portofolio.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    color: #fff;
    position: relative;
}
.portfolio-header-content {
    position: relative;
    z-index: 1;
}
.portfolio-header-content h1 {
    text-align: left;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: -450px;
    text-shadow: #000 2px 2px 4px;
}
.portfolio-header-content p {
    text-align: left;
    color: #5A33BE;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    margin-top: 0px;
    margin-left: -450px;
    background-color: #F7F7F7CC;
    margin-bottom: 3px;
    letter-spacing: normal;
}
.portfolio-header-content small {
    text-align: left;
    color: #5A33BE;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    margin-left: -450px;
    background-color: #F7F7F7CC;
    letter-spacing: normal;
}

.portfolio-main-area {
    background-image: url('../images/portofolio_sketch/bg_portofolio.jpg');
    
    background-size: 130%;
    background-position: center;
    
    position: relative;
    z-index: 0;
}

.portfolio-main-area::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 232, 232, 0.85); 
    z-index: -1; 
}

main.portfolio-page-content {
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    background: none; 
}

#portfolio-cta {
    padding: 40px 0 60px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background: none; 
}

main.portfolio-page-content::before, 
#portfolio-cta::before {
    content: none;
}

/* Tombol Filter */
.portfolio-filters {
    text-align: left;
    margin-bottom: 60px;
    margin-left: 64px;
}
.btn-filter {
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
    border: 2px solid #C93684;
    background: #fff;
    color: #C93684;
}
.btn-filter.active {
    background: #C93684;
    color: #fff;
}
.btn-filter:hover {
    background: #f4f0ff;
}
.btn-filter.active:hover {
    background: #C93684;
}

/* Grid Portfolio */
.portfolio-grid .item {
    background: #fff;
    border: 5px solid #FFF;
    transition: all 0.3s ease;
    width: 300px;
    height: auto;
}
.portfolio-grid .item:hover {
    border-color: #5A33BE;
    transform: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.portfolio-grid .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Teks CTA */
#portfolio-cta h2 {
    font-size: 32px;
    color: #000;
    padding: auto;
    margin: 0px 350px 20px 350px;
    font-weight: 400;
    border-radius: 50px;
    background-color: #FFF;
    box-shadow: 0 0 15px 10px #FFF;
}
#portfolio-cta .btn {
    font-size: 18px;
    padding: 12px 30px;
    border: 5px solid #FFF;
}